@tailwind base;
@tailwind components;
@tailwind utilities;

.form-box {
	font-family: sans-serif;
	background: linear-gradient(#141e30, #243b55);
	width: auto;
	padding: 40px;
	/* transform: translate(-50%, -50%); */
	background: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.form-heading {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.form-box .field-box {
	position: relative;
}

.form-box .field-box input {
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.form-box .field-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: 0.5s;
}
